<body id="Z5F-T3L-R8G">
    <div id="F3H-W7P-Y2K" class="L1R-H5C-T8B" style="background-color: #1c47a3; width: auto; height: 230px; text-align: center; color: white; padding-top: 20px;">
        <p style="text-transform: capitalize;">You have received a new document to review and sign today</p>
        <img id="M9Z-B2D-P3S" class="K1J-U4F-W6L" src="your-image-source-here.png" alt="Document Icon" width="70" height="auto" style="margin: auto; display: block;">
        <br>
        <a id="A9P-L7S-W4Q" class="P2M-J8F-X1T" href="http://email.smartzip-marketing.com/ls/click?your-parameters-here" style="text-decoration: none; color: white;">
            <p style="width: 180px; height: 39px; line-height: 39px; text-align: center; color: white; border: 2px #fff solid; margin: auto; display: inline-block;">VIEW DOCUMENT</p>
        </a>
    </div>
    <br>
    <div id="H2E-Q7M-Y9C" class="B1X-P5Z-R8J" style="background-color: #e4e4e4; padding: 20px; font-size: 14px; color: #666666;">
        <p>
            <span style="font-weight: 900; color: #474747;">About DocuSign:</span><br>
            Sign documents electronically in just moments. It's safe, secure, and legally binding. Whether you're in an office, at home, on-the-go, or even across the globe, DocuSign provides a professional trusted solution for Digital Transaction Management™.<br><br>
            <span style="font-weight: 900;">Questions about the Document?</span><br>
            If you need to make changes or have any questions, please contact the sender directly by replying to this email.
        </p>
    </div>
</body>
